<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.ownerpool.mapper.OwnerpoolListingsDetailMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="ownerpool_listings_detailResultMap" type="org.springblade.modules.ownerpool.entity.OwnerpoolListingsDetailEntity">
        <result column="id" property="id"/>
        <result column="ownerpool_id" property="ownerpoolId"/>
        <result column="listings_address" property="listingsAddress"/>
        <result column="listings_number" property="listingsNumber"/>
        <result column="decoration_situation" property="decorationSituation"/>
        <result column="room" property="room"/>
        <result column="hall" property="hall"/>
        <result column="kitchen" property="kitchen"/>
        <result column="guard" property="guard"/>
        <result column="image_url" property="imageUrl"/>
        <result column="rent_area" property="rentArea"/>
        <result column="rent_price" property="rentPrice"/>
        <result column="hourse_years" property="hourseYears"/>
        <result column="remarks" property="remarks"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

</mapper>
