<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.springblade.modules.listings.mapper.ListingsMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="listingsResultMap" type="org.springblade.modules.listings.entity.ListingsEntity">
        <result column="id" property="id"/>
        <result column="customer_id" property="customerId"/>
        <result column="listing_name" property="listingName"/>
        <result column="broker_name" property="brokerName"/>
        <result column="listing_type" property="listingType"/>
        <result column="area" property="area"/>
        <result column="property_remarks" property="propertyRemarks"/>
        <result column="image_url" property="imageUrl"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="create_dept" property="createDept"/>
        <result column="status" property="status"/>
        <result column="is_deleted" property="isDeleted"/>
    </resultMap>

</mapper>
